<p id="notice"><%= notice %></p>

<ul class="medium-block-grid-2 large-block-grid-3">
  <% @leads.each do |lead| %>
  <li>
    <div class="panel">
      <h2><%= lead.name %></h2>
      <p><%= lead.description %></p>
      <h3><%= lead.temperature %></h3>
      <h3><%= lead.excitement %></h3>
      <p><%= link_to 'Show', lead %></p>
    </div>
  </li>
  <% end %>
</ul>

<%= link_to 'New Lead', new_lead_path %>

