<% if notice %>
<div data-alert class="alert-box success">
  <%= notice %>
  <a href="#" class="close">&times;</a>
</div>
<% end %>

<h1><%= @lead.name %></h1>
<h2><%= @lead.client_name %></h2>
<p><%= @lead.description %></p>
<p><strong>Budget:</strong> <%= number_to_currency(@lead.budget) %></p>
<p><strong>Temperature:</strong> <%= number_to_percentage(@lead.temperature, precision: 0) %></p>
<p><strong>Excitement:</strong> <%= number_to_percentage(@lead.excitement, precision: 0) %></p>

<h3>Notes:</h3>
<p><%= @lead.notes %></p>

<p><strong>Won:</strong><%= @lead.won %></p>
<p><strong>Active:</strong><%= @lead.active %></p>

<%= link_to 'Edit', edit_lead_path(@lead) %> |
<%= link_to 'Back', leads_path %>
