<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Mister Machine Leads" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">

        <nav class="tab-bar">
          <div class="left-small">
            <a role="button" aria-expanded="false" aria-controls="idOfLeftMenu" class="left-off-canvas-toggle menu-icon" ><span></span></a>
          </div>
          <section class="middle tab-bar-section">
            <h1 class="title">Mister Machine Leads</h1>
          </section>
        </nav>

        <!-- Off Canvas Menu -->
        <aside class="left-off-canvas-menu">
            <!-- whatever you want goes here -->
            <ul>
            <% if user_signed_in? %>
              <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
            <% end %>
              <li><a href="#">Leads</a></li>
              <li><a href="#">Tasks</a></li>
              <li><a href="#">Clients</a></li>
            </ul>
        </aside>

        <div class="row">
          <!-- main content goes here -->
          <%= yield %>
        </div>

      <!-- close the off-canvas menu -->
      <a class="exit-off-canvas"></a>

      </div>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>